In [2]:
#餐饮销量数据相关性分析
from __future__ import print_function
import pandas as pd

In [3]:
catering_sale = '/Users/admin/PycharmProjects/pythonProject1/python_da/chapter3/demo/data/catering_sale_all.xls' 
data = pd.read_excel(catering_sale, index_col=u'日期')
data.head()

,百合酱蒸凤爪,翡翠蒸香茜饺,金银蒜汁蒸排骨,乐膳真味鸡,蜜汁焗餐包,生炒菜心,铁板酸菜豆腐,香煎韭菜饺,香煎罗卜糕,原汁原味菜心
日期,,,,,,,,,,
2015-01-01,17,6,8,24,13.0,13,18,10,10,27
2015-01-02,11,15,14,13,9.0,10,19,13,14,13
2015-01-03,10,8,12,13,8.0,3,7,11,10,9
2015-01-04,9,6,6,3,10.0,9,9,13,14,13
2015-01-05,4,10,13,8,12.0,10,17,11,13,14

In [5]:
cumdata = data.cumsum()     # 依次给出前1、2、3。。。行的和
cumdata.head()

,百合酱蒸凤爪,翡翠蒸香茜饺,金银蒜汁蒸排骨,乐膳真味鸡,蜜汁焗餐包,生炒菜心,铁板酸菜豆腐,香煎韭菜饺,香煎罗卜糕,原汁原味菜心
日期,,,,,,,,,,
2015-01-01,17,6,8,24,13.0,13,18,10,10,27
2015-01-02,28,21,22,37,22.0,23,37,23,24,40
2015-01-03,38,29,34,50,30.0,26,44,34,34,49
2015-01-04,47,35,40,53,40.0,35,53,47,48,62
2015-01-05,51,45,53,61,52.0,45,70,58,61,76

In [16]:
cumdata1 = data.cumprod()     # 依次给出前1、2、3。。。行的积
cumdata1.head()

,百合酱蒸凤爪,翡翠蒸香茜饺,金银蒜汁蒸排骨,乐膳真味鸡,蜜汁焗餐包,生炒菜心,铁板酸菜豆腐,香煎韭菜饺,香煎罗卜糕,原汁原味菜心
日期,,,,,,,,,,
2015-01-01,17,6,8,24,13.0,13,18,10,10,27
2015-01-02,187,90,112,312,117.0,130,342,130,140,351
2015-01-03,1870,720,1344,4056,936.0,390,2394,1430,1400,3159
2015-01-04,16830,4320,8064,12168,9360.0,3510,21546,18590,19600,41067
2015-01-05,67320,43200,104832,97344,112320.0,35100,366282,204490,254800,574938

In [18]:
maxdata = data.cummax()
maxdata.head()

,百合酱蒸凤爪,翡翠蒸香茜饺,金银蒜汁蒸排骨,乐膳真味鸡,蜜汁焗餐包,生炒菜心,铁板酸菜豆腐,香煎韭菜饺,香煎罗卜糕,原汁原味菜心
日期,,,,,,,,,,
2015-01-01,17,6,8,24,13.0,13,18,10,10,27
2015-01-02,17,15,14,24,13.0,13,19,13,14,27
2015-01-03,17,15,14,24,13.0,13,19,13,14,27
2015-01-04,17,15,14,24,13.0,13,19,13,14,27
2015-01-05,17,15,14,24,13.0,13,19,13,14,27

In [19]:
maxdata1 = data.cummin()
maxdata1.head()

,百合酱蒸凤爪,翡翠蒸香茜饺,金银蒜汁蒸排骨,乐膳真味鸡,蜜汁焗餐包,生炒菜心,铁板酸菜豆腐,香煎韭菜饺,香煎罗卜糕,原汁原味菜心
日期,,,,,,,,,,
2015-01-01,17,6,8,24,13.0,13,18,10,10,27
2015-01-02,11,6,8,13,9.0,10,18,10,10,13
2015-01-03,10,6,8,13,8.0,3,7,10,10,9
2015-01-04,9,6,6,3,8.0,3,7,10,10,9
2015-01-05,4,6,6,3,8.0,3,7,10,10,9